.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  max-width: 90%;
  background: rgba(255, 253, 245, 0.5);
  padding: 10px 15px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 20px;
  z-index: 100;
  backdrop-filter: blur(10px);
}

.logo {
  font-size: var(--xlarge);
  color: var(--yellow);
  font-weight: var(--extrabold);
  cursor: pointer;
  margin: 0;
  padding: 2.5px 10px;
  border-radius: 10px;
}

.logo:hover {
  background-color: var(--white);
  transition: all 0.5s ease-in-out;
}

.navbar-list {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.nav-link {
  font-size: var(--medium);
  padding: 5px 10px;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: var(--white);
  color: var(--yellow);
  transition: all 0.5s ease-in-out;
}

.navbar-button {
  background-color: var(--white);
  color: var(--yellow);
}

.navbar-button:hover {
  background-color: var(--yellow);
  color: var(--white);
  transition: all 1s ease-in-out;
}

.mobile-menu-icon {
  display: none;
}

@media (max-width: 768px) {
  .mobile-menu-icon {
    display: block;
  }
  .navbar-list {
    display: none;
  }
  .navbar-button {
    display: none;
  }
  .logo {
    font-size: var(--large);
  }

  .link {
    text-align: center;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 10px;
    font-size: var(--medium);
  }

  .link:hover {
    background-color: var(--white);
    color: var(--yellow);
  }
}

/* mobile menu stylings here  */
.sidebar {
  position: fixed;
  top: 0;
  left: -350px;
  width: 300px;
  height: 100%;
  padding: 20px;
  background-color: var(--white2);
  transition: left 1s ease-in-out;
  z-index: 110;
  backdrop-filter: blur(5px);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}

.sidebar.show {
  left: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 105;
}

.mobile-menu-close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--yellow);
}

.mobile-menu-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  margin-top: 50px;
}

.mobile-menu-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.mobile-menu-button {
  background-color: var(--yellow);
  color: var(--white);
  margin-bottom: 50px;
}
