.auth-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.smiling-img {
  width: 15%;
  height: 15%;
  cursor: pointer;
}

.logo-text {
  font-size: var(--xlarge);
  font-weight: var(--blk);
  letter-spacing: -2px;
  color: var(--yellow);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  line-height: 1.1;
}
