.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.hero-start-text {
  background-color: var(--white2);
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid rgba(252, 214, 52, 0.3);
  cursor: pointer;
  /* margin: 50px 0 0 0; */
  font-style: italic;
  color: var(--gray);
}

.hero-img {
  width: 25%;
  height: 25%;
  cursor: pointer;
}

.hero-text {
  font-size: 130px;
  font-weight: 900;
  color: var(--yellow);
  /* text-transform: uppercase; */
  letter-spacing: -2px;
  line-height: 1.1;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.hero-description {
  font-size: var(--medium);
  font-style: italic;
  color: var(--gray);
}

.hero-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin: 15px;
}

.signup-btn {
  color: var(--yellow);
}

.signup-btn:hover {
  background-color: var(--yellow);
  color: var(--white);
  padding: 10px 15px;
  transition: all 0.5s ease-in-out;
}

.signin-btn {
  background-color: var(--yellow);
  color: var(--white);
}

.signin-btn:hover {
  background-color: var(--white2);
  color: var(--yellow);
  padding: 10px 15px;
  transition: all 0.5s ease-in-out;
}

/* how it works section styling  */
.how-it-works-section {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-bottom: 50px;
}

.hit-first-div > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.hit-fd-btn {
  background-color: var(--white);
  color: var(--yellow);
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.hit-first-div > div > h2 {
  font-size: var(--xxlarge);
  font-weight: var(--blk);
  color: var(--yellow);
}

.hit-first-div > div > p {
  font-size: var(--medium);
  color: var(--black);
}

.hit-second-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

@media (max-width: 768px) {
  .hero-text {
    font-size: var(--xlarge);
  }
  .hero-description {
    font-size: var(--xxsmall);
  }
}
