.music-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: baseline;
}

.playlist-img {
  object-fit: contain;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  width: 80%;
  height: auto;
}

.play-music-btn {
  background-color: var(--white);
  color: var(--red);
}

.play-music-btn:hover {
  background-color: var(--red);
  color: var(--white);
  transition: all 0.5s ease-in-out;
}

.playlist-name {
  font-size: var(--medium);
  color: var(--blue);
}

.music-title-and-playbtn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: baseline;
}
