.mood-container {
  display: flex;
  flex-direction: column;
}

.mood-input-container {
  display: flex;
  width: 100%;
  gap: 10px;
}

.mood-input {
  padding: 10px;
}

.mood-input-btn {
  padding: 5px 20px;
  background-color: var(--yellow);
  color: var(--white2);
  font-weight: var(--semibold);
  font-size: var(--medium);
}

.mood-input-btn:hover {
  background-color: var(--white);
  color: var(--yellow);
  transition: all 0.5s ease-in-out;
}

.scroll-container {
  overflow: hidden;
  white-space: nowrap;
  height: 80px;
  margin-top: 20px;
}

.scroll-row {
  display: inline-flex;
  gap: 12px;
  animation: scroll 5s linear infinite;
}

.mood-box {
  min-width: 150px;
  color: var(--white2);
  font-weight: var(--bold);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
}

/* Style for the mood box animation */
@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
