.inactive-step {
  color: var(--gray);
}

.active-step {
  background-color: var(--white);
  color: var(--black);
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.active-font-head {
  font-size: var(--large);
  font-weight: var(--extrabold);
}

.active-text {
  color: var(--yellow);
}
