.spin-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
/* This css doesn't center the spinner very well on screen so i might delete it*/
