.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-inner-container {
  margin-top: 50px;
}

.about-head-text {
  color: var(--yellow);
}

.about-m2m-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 10px;
  background-color: var(--white2);
  border-radius: 10px;
  font-size: var(--small);
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.about-m2m-text-container:hover {
  background-color: var(--white);
  color: var(--yellow);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  transition: all 1s ease-in-out;
}

.about-m2m-text {
  max-width: 100%;
}

@media (max-width: 768px) {
  .about-inner-container {
    margin-top: 25px;
  }
}
